* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    color: rgb(24, 23, 23);
}

/* navigation and logo */

header a {
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 5px 30px;
    text-decoration: none;
    color: #66CDAA;
}

#logo {
    font-family: 'poiret one', cursive;
    font-size: 80px;
    color: #66CDAA
}

#slogan {
    font-family: 'graduate', sans-serif;
    font-size: 29px;
    padding: 15px 15px 10px 15px;
    color: 	#2F4F4F;
}

header {
    background-color: white;
}

#menu li {
    list-style-type: none;
    margin-left: 20px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}

nav {
    padding-bottom: 20px;
    width: max-content;
    margin:0 auto;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a:visited {
    color: #66CDAA;
}

/* section headings */
.section-heading {
    font-family: 'montserrat', sans-serif;
    color: darkslategray;
    text-align: center;
    letter-spacing: 2px;
}

.subtitle {
    text-align: center;
    padding-top: 10px;
}

/* hero background image */

#hero-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 30px 0px 50px 0px;
}

#hero-image {
    height: 500px;
    width: auto;
    margin: 0px;
    background: url('../images/netball-post-1400x500.png') no-repeat center center;
}

#hero-outer .section-heading {
    padding-bottom: 30px;
}

/* reviews */

#fivestars {
    padding: 0px 0px 50px 0px;
}

#ratings {
    padding-bottom: 50px;
}

#ratings div {
    color: darkslategray;
    width: 100%;
    height: 220px;
    text-align: center;
}

.grid-container-reviews {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-reviews {
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    width: 23%;
    vertical-align: middle;
}

.customer-review {
    padding: 10px 30px;
}

#ratings p {
    font-size: 14px;
}

#left-rating {
    padding-left: 145px;
    padding-right: 35px;
}

#right-rating {
    padding-right: 100px;
    padding-left: 35px;
}

/* netball insitu images */

#netball-insitu {
    padding: 50px;
    margin-left: 50px;
}

.flex-container-netball-images {
    display: flex;
    align-items: stretch;
}

.flex-container-netball-images > div {
    padding: 10px;
}

/* usp */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item {
    background-color: white;
    text-align: center;
    padding: 20px 0px;
}

#usp {
    padding: 20px 0px;
}

#usp h3 {
    width: 65%;
    margin: auto;
}

.fas {
    font-size: 80px;
    color: #66CDAA;
    padding-bottom: 20px;
}

hr {
    border-style: solid;
    border-color: lightgrey;
}

/* join us */

#join-us {
    padding: 50px 0px;
}

#join-us h1, p {
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

#join-us p {
    font-size: 16px;
    padding-top: 10px;
}

#join-us h1 {
    letter-spacing: 2px;
    color: darkslategray;
}

/* how to play */

#how-to-play {
    text-align: center;
    padding-top: 40px;
}

iframe {
    display: block;
    margin: 0 auto;
    border-style: none;
}

#video {
    padding: 30px 0px 50px 0px;
}

/* fixtures and results */

#fixture-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

#tertiary-image {
    height: 500px;
    width: auto;
    margin: 0px;
    background: url('../images/netball-going-into-hoop-1400-500.png') no-repeat center center;
}

.table-display {
    padding-top: 30px;
    padding-bottom: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

#cover-text-fixture {
    font-size: 130%;
    font-family: 'graduate', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 450px;
    height: 160px;

    padding-top: 20px;
    padding-left: 5px;

    background-color: rgba(102,205,170,0.7);
    color: white;

    top: 160px;
    right: 300px;

    position: absolute;
}

#cover-text-fixture p {
    font-family: 'montserrat', sans-serif;
    text-transform: capitalize;
}

/* venue */

#venue {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    padding: 30px 0px 50px 0px;
}

.grid-container-venue {
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: url('../images/netball-venues.png');
}

.grid-item-venue {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 100px;
    border: 2px solid whitesmoke;
}

/* sign up */

#cover-text {
    font-size: 130%;
    font-family: 'graduate', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 500px;
    height: 85px;

    padding-top: 20px;
    padding-left: 5px;

    background-color: rgba(102,205,170,0.7);
    color: white;

    top: 200px;
    left: 330px;

    position: absolute;
}

#cover-text h3 {
    font-family: 'montserrat', sans-serif;
    text-transform: capitalize;
}

#sign-up-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#netball-post {
    height: 500px;
    width: auto;
    margin: 0px;
    background: url('../images/netball-post-sign-up-1400x500.png') no-repeat center center;
}

form {
    width: 65%;
    margin: auto;
    padding: 50px 0px;
}

legend {
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    margin: auto;
    background-color: white;
    padding: 7px;
    font-size: 20px;
    font-family: 'graduate', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

fieldset {
    background-color: rgba(125, 177, 212, 0.1);
}

label {
    padding-left: 10px;
    margin-left: 10px;
}

form p {
    padding: 0px 30px 0px 10px;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
}

form input {
    margin-left: 5px;
}

textarea {
    margin-left: 18px;
}

#submit {
    margin-left: 18px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-family: 'montserrat', sans-serif;
    text-transform: capitalize;
}

.required:after {
    content:"*\00a0";
    color:red;
}

/* footer */

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 260px;    /* footer height */
  }

.grid-container-footer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-footer {
    padding: 20px;
    text-align: center;
  }

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #66CDAA;
    color: white;
    text-align: center;
 }

 .footer-headings {
     text-decoration: underline;
     letter-spacing: 2px;
 }

#copyright {
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

 #social-links {
     padding: 0px;
     font-size: 20px;
     color: white;
     text-decoration: none;
 }

 #social-links a {
     color: white;
 }

 #social-links a:visited {
     color: white;
 }

 /* media queries */

/* for 4k screens size from 2560px wide and down */
@media screen and (max-width: 2560px) {
    .grid-item-reviews {
        padding: 5px;
    }

    #cover-text-fixture {
        right: 625px;
    }

    #results-table {
        padding: 50px 580px;
    }

    #league-table {
        padding: 50px 580px;
    }

    #cover-text {
        left: 700px;
    }
    
    #netball-insitu {
        padding: 2px;
        margin: auto;
    }

    #netball-insitu img {
        width: 832px;
        height: 537px;
    }

    iframe {
        width: 900px;
        height: 506px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-2560px\(1\).png');
    }

    #ratings {
        height: 280px;
        padding-bottom: 10px;
        margin: 20px 40px;
    }

    form {
        width: 55%;
        margin: auto;
        padding: 50px 0px;
    }
}

/* for larger screens size from 1920px wide and down */
@media screen and (max-width: 1920px) {
    #fivestars {
        padding: 0px 0px 20px 0px;
    }
    
    #ratings {
        height: 210px;
        padding-bottom: 5px;
        margin: 20px;
    }

    .grid-item-reviews {
        padding: 5px;
    }

    .customer-review {
        padding: 10px 10px;
    }

    #cover-text {
        left: 400px;
    }
    
    #netball-insitu {
        padding: 2px;
        margin: auto;
        height: 425px;
    }

    #netball-insitu img {
        width: 610px;
        height: 407px;
    }

    #cover-text-fixture {
        right: 300px;
    }

    form {
        width: 1400px;
        margin: auto;
        padding: 50px 0px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-1920px.png');
    }
}

/* for larger screens size from 1440px wide and down */
@media screen and (max-width: 1440px) {
    #fivestars {
        padding: 0px 0px 20px 0px;
    }
    
    #ratings {
        height: 250px;
        padding-bottom: 5px;
        margin: 20px;
    }

    .grid-item-reviews {
        padding: 5px;
    }

    .customer-review {
        padding: 10px 10px;
    }
    
    #cover-text-fixture {
        right: 60px;
    }

    #cover-text {
        left: 100px;
    }
    
    #netball-insitu {
        padding: 2px;
        margin: auto;
        height: 325px;
    }

    #netball-insitu img {
        width: 459px;
        height: 304px;
    }

    form {
        width: 80%;
        margin: auto;
        padding: 50px 0px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-1440px.png');
    }
}

/* for larger to medium screens size from 1366px wide and down */
@media screen and (max-width: 1366px) {
    #ratings {
        height: 230px;
        padding-bottom: 5px;
        margin: 20px;
    }
    
    #cover-text-fixture {
        right: 30px;
    }

    #results-table {
        padding: 50px 130px;
    }

    #league-table {
        padding: 50px 130px;
    }

    #cover-text {
        left: 100px;
    }
    
    #netball-insitu {
        padding: 10px;
        height: 305px;
    }

    #netball-insitu img {
        height: 284px;
        width: 426px;
    }
}

/* for medium screens size from 1280px wide and down */
@media screen and (max-width: 1280px) {
    #cover-text-fixture {
        right: 15px;
    }

    #results-table {
        padding: 50px 80px;
    }

    #league-table {
        padding: 50px 80px;
    }

    #cover-text {
        left: 100px;
    }
    
    #netball-insitu {
        padding: 0px;
        margin-left: 0px;
        height: 287px;
    }

    #netball-insitu img {
        height: 266px;
        width: 400px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-1280px.png');
    }
}

/* for larger to medium screens size from 1024px wide and down */
@media screen and (max-width: 1024px) {
    .grid-item-reviews {
        padding: 20px 0px;
        display: inline-block;
        vertical-align: middle;
    }
    
    #ratings {
        height: 350px;
        padding-bottom: 5px;
    }

    .grid-container-reviews h3 {
    padding: 0px 40px;
    }

    .customer-review {
        padding: 10px 40px;
    }

    #fivestars {
        padding: 0px 0px 20px 0px;
    }
    
    #cover-text-fixture {
        right: 270px;
        background-color: rgba(102,205,170,0.95);
    }

    #cover-text {
        left: 40px;
    }
    
    .flex-container-netball-images > div {
        padding: 2px;
    }

    #netball-insitu {
        padding: 2px;
        margin: auto;
        height: 330px;
    }

    #netball-insitu img {
        height: 324px;
        width: 497px;
        margin-left: 2px;
    }

    #open-court {
        display: none;
        padding: 0px;
        margin: 0px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-1024px.png');
    }
}

/* for small to medium screens size from 768px wide and down */
@media screen and (max-width: 768px) {
    #hook {
        padding: 0px 30px;
    }
    
    #hero-outer {
        height: 600px;
        padding-bottom: 20px;
    }

    #cover-text-fixture {
        left: 150px;
        background-color: rgba(102,205,170,0.9);
    }
    
    .grid-item-reviews {
        padding: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .grid-item-reviews h3 {
        padding: 0px 20px;
    }

    .customer-review {
        margin: auto;
    }

    .grid-item-venue {
        padding: 20px 50px;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto auto auto;
        background-image: url('../images/netball-venues-responsive\(1\).png');
    }

    #cover-text {
        left: 120px;
        background-color: rgba(102,205,170,0.95);
    }
    
    form {
        width: 95%;
        margin: auto;
        padding: 50px 0px;
    }
    
    label {
        padding-left: 10px;
        margin-left: 10px;
    }
        
    #ratings {
        padding: 5px 0px;
        height: 390px;
    }
    
    #fivestars {
        padding: 0px 0px 20px 0px;
    }

    #netball-insitu {
        padding: 0px;
        margin-left: 0px;
        height: 287px;
    }

    #netball-insitu img {
        height: 235px;
        width: 375px;
    }

    #open-court {
        display: none;
    }

    .flex-container-netball-images {
        display: flex;
        align-items: stretch;
    }
    
    .flex-item-netball-images {
        padding: 1px;
        margin: auto;
    }

    iframe {
        width: 700px;
        height: 394px;
    }
}

/* for small screens size from 425px wide and down */
@media screen and (max-width: 425px) {
    header a {
        text-align: center;
        width: auto;
        margin: 0px;
        padding: 5px 5px;
        text-decoration: none;
        color: #66CDAA;
    }
        
    #menu li {
        list-style-type: none;
        margin-left: 5px;
        padding: 0px;
        display: inline-block;
        text-align: center;
        letter-spacing: 2px;
    }
    
    .section-heading {
        font-family: 'montserrat', sans-serif;
        color: darkslategray;
        text-align: center;
        letter-spacing: 2px;
        padding: 0px 10px;
    }

    #hero-image {
        height: 500px;
        width: auto;
        margin: 0px;
        background: url('../images/netball-goal-shooter-425px.png') no-repeat center center;
    }

    #hero-outer {
        height: 620px;
    }

    #fivestars {
        padding: 0px 30px 20px 30px;
    }

    .grid-container-reviews {
        display: grid;
        grid-template-columns: auto;
        padding-right: 5px;
        margin: auto;
    }
    
    .grid-item-reviews {
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 10px;
    }
    
    .customer-review {
        padding: 10px 10px;
    }

    #ratings {
        height: 710px;
    }
    
    #ratings div {
        height: 230px;
        width: 380px;
    }

    #netball-insitu {
        padding: 0px;
        margin-left: 0px;
    }

    #netball-insitu img {
        height: 267px;
        width: 400px;
    }

    #netball-insitu div {
        padding: 5px 0px;
        margin-left: 5px;
    }

    #open-court {
        display: none;
    }

    #older-players {
        display: none;
    }

    iframe {
        width: 400px;
        height: 225px;
    }

    .grid-item {
        padding: 10px 0px;
        font-size: 10px;
    }
    
    .fas {
        font-size: 40px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .content-wrap {
        padding-bottom: 510px;    /* footer height */
      }
     
    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 490px;
        width: 100%;
     }

     .grid-container-footer {
        display: grid;
        grid-template-columns: auto;
    }

    .grid-container-venue {
        display: grid;
        grid-template-columns: auto;
        background-image: url('../images/netball-venues-425px.png');
    }
    
    .grid-item-venue {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 100px;
        border: 2px solid whitesmoke;
    }

    #tertiary-image {
        height: 500px;
        width: auto;
        margin: 0px;
        background: url('../images/netball-going-into-hoop-425px.png') no-repeat center center;
    }

    #cover-text-fixture {
        font-size: 100%;
        letter-spacing: 2px;
    
        width: 380px;
        height: 130px;
    
        background-color: rgba(102,205,170,0.95);
        
        top: 160px;
        left: 20px;
    }

    #cover-text {
        font-size: 100%;
        letter-spacing: 2px;
    
        width: 380px;
        height: 70px;
    
        background-color: rgba(102,205,170,0.95);
    
        top: 200px;
        left: 20px;
    }

    #netball-post {
        height: 500px;
        width: auto;
        margin: 0px;
        background: url('../images/netball-post-425px.png') no-repeat center center;
    }

    form {
        width: 98%;
    }

    th, td {
        font-size: 14px;
      }

}

/* for small screens size from 390px wide and down */
@media screen and (max-width: 390px) {
#ratings {
    height: 800px;
}

#ratings div {
    width: 320px;
    height: 270px;
    border: 5px;
}

#netball-insitu img {
    height: 205px;
    width: 365px;
}

#netball-insitu div {
    padding: 2px 0px;
}

#netball-insitu {
    height: 215px;
}

iframe {
    width: 365px;
    height: 205px;
}

#cover-text-fixture {
    width: 300px;
    height: 130px;
    left: 42px;
}

.subtitle {
    width: 80%;
    margin: auto;
}

td {
    font-size: 12px;
}

#cover-text {
    width: 300px;
    height: 100px;
    left: 40px;
}

}