@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Mali:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    color: rgb(24, 23, 23);
}

/* navigation and logo */

header a {
    position: center;
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 5px 30px;
    text-decoration: none;
    color: #66CDAA;
}

#logo {
    font-family: 'poiret one', cursive;
    font-size: 80px;
    position: center;
    color: #66CDAA
}

#slogan {
    font-family: 'graduate', sans-serif;
    font-size: 29px;
    position: center;
    padding: 15px 15px 10px 15px;
    color: 	#2F4F4F;
}

header {
    background-color: white;
}

#menu li {
    list-style-type: none;
    margin-left: 20px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}

nav {
    padding-bottom: 20px;
    width: fit-content;
    margin:0 auto;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a:visited {
    color: #66CDAA;
}

/* hero background image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: auto;
    margin: 0px;
    background: url('../images/goal-shooter-full-width.png') no-repeat center center;
}

#hero-second {
    height: 500px;
    width: auto;
    margin: 0px;
    background: url('../images/havering-map-resized.png') no-repeat center center;
}

/* reviews */

#fivestars {
    padding: 30px 0px;
}

#ratings div {
    color: darkslategray;
    width: 23%;
    height: 300px;
    text-align: center;
    float: left;
    padding: 20px 0 0 10px;
}

#ratings > p {
    font-size: 10em;
}

/* how to play */

#how-to-play {
    text-align: center;
    padding: 30px 30px 0px 30px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 30px;
}